[Desktop Entry]
Version=1.0
Name=tsMuxerGUI
GenericName=Transmission Stream Muxer
Comment=tsMuxer GUI
Exec=/usr/bin/tsMuxerGUI
TryExec=/usr/bin/tsMuxerGUI
Icon=tsMuxerGUI
Terminal=false
Type=Application
Categories=AudioVideo;Qt;
